.app {
  text-align: center;
}

.standings{
  margin: 0 auto;
}

.standings tr{
  border-bottom: 1px solid gray;
}

.standings td{
  width: 25px;
}

.standings .team-name,
.team-name table{
  width: 250px;
}

.crest{
  width: 30px;
  height: 30px;
}

.crest img{
  max-width: 100%;
  max-height: 100%;
}
