.app {
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

h1{
  font-size: 1.8em;
  font-weight: 400;
}

.standings{
  margin: 0 auto;
  border-collapse: collapse;
}

.standings .table-head,
.standings .team-position{
  color: #878787; 
}

.standings .team-position{
  text-align: left;
}

.standings tr{
  border-bottom: 1px solid #dedede;
  line-height: 2.3em;
}

.standings tr:last-child{
  border: none;
}

.standings td{
  width: 35px;
}

.standings .team-name{
  width: 250px;
  text-align: left;
  display: flex;
  align-items: center;
}

.crest{
  width: 30px;
  height: 30px;
  margin-right: 10px;
  display: flex;
  justify-content: center;
}

.crest img{
  max-width: 100%;
  max-height: 100%;
}

.standings .team-points{
  font-weight: bold;
}
